$bg-url: '/assets/images/bg.jpg';
$primary: #FF2A00;
$primary-light: lighten($primary, 5%);
$transparent: rgba(0,0,0,0);
$gap-base: 5px;
$gap-2: $gap-base * 2;

// .button, .button.active, .button:focus {
//   background-color: $primary;
// }

// .button:hover, .button.active:hover {
//   background-color: $primary-light;
// }

.box {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
}

.cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.bg {
  position: relative;
  background: url($bg-url) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-width: 1024px;
  margin-top: -45px;
  z-index: 0;
}

input, .button {
  height: 3rem !important;
  font-size: 1rem !important;
}

// .top-bar a.button {
//   padding-top: 1rem;
// }

.alert-box {
  z-index: 1;
  margin-bottom: 0px;
}

#myModal {
  max-width: 30rem;
}

.top-bar {
  background: $transparent;
  z-index: 1;
}

.top-bar-section li a:not(.button) {
  background: $transparent !important;   
}

.top-bar-section li a:not(.button):hover {
  background: $transparent !important;   
}

.top-bar-section ul li.active > a {
  background: $transparent !important;   
}

.top-bar-section ul li.active > a:hover {
  background: $transparent !important;   
}

.top-bar-section ul li {
  background: $transparent !important;
}

h3 {
  margin-top: $gap-2;
  margin-left: $gap-2;
}

h2 {
  padding-top: $gap-2;
}

.votes {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.track-list {
  margin-top: 2rem;
}

.like {
  padding: $gap-base, $gap-2;
  margin-right: $gap-2;
}

.like-show {
  margin: 0.6rem 1rem;
  color: #008CBA;
  background: none;
}

.like > i {
  font-size: 2rem;
}