$bg-url: '/assets/images/bg.jpg';
$primary: #FF2A00;
$primary-light: lighten($primary, 5%);
$transparent: rgba(0,0,0,0);
$gap-base: 5px;
$gap-2: $gap-base * 2;

.button, .button.active, .button:focus {
  background-color: $primary;
}

.button:hover, .button.active:hover {
  background-color: $primary-light;
}

.box {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
}

.cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.bg {
  position: relative;
  background: url($bg-url) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-width: 1024px;
  margin-top: -45px;
  z-index: 0;
}

input {
  height: 3rem !important;
  font-size: 1rem !important;
}

.top-bar {
  background: $transparent;
  z-index: 1;
}

.top-bar-section li a:not(.button) {
  background: $transparent !important;   
}

.top-bar-section li a:not(.button):hover {
  background: $transparent !important;   
}

.top-bar-section ul li.active > a {
  background: $transparent !important;   
}

.top-bar-section ul li.active > a:hover {
  background: $transparent !important;   
}

.top-bar-section ul li {
  background: $transparent !important;
}

h3 {
  margin-top: $gap-2;
  margin-left: $gap-2;
}