<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <script src="/javascript/vendor/modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <title>Music We Like</title>
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
      <ul class="right">
        <% if @user %>
        <li class="has-dropdown">
          <a href="#"><%= @user.email %></a>
          <ul class="dropdown">
            <li><a href="#">Music I Like</a></li>
            <li><a href="#">Music I Vote</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
        <% else %>
        <form method="POST" action="/login">
          <li><div class="columns"><input type="text" name="email" value="" placeholder="Email Address"></div></li>
          <li><div class="columns"><input type="password" name="password" value="" placeholder="Password"></div></li>
          <li><div class="columns"><input type="submit" value="Login" class="button"></div></li>
        </form>
        <% end %>
      </ul>
    </section>
  </nav>
  <%= yield %>
</body>
</html>