<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <title>Music We Like</title>
</head>
<body>
  <% if @message %>
  <div data-alert class="alert-box text-center <%= 'alert' if @message_type == 0 %>">
    <%= @message %>
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>
  <nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Music People Like</a></h1>
        </li>
      </ul>
      <ul class="right">
        <% if @user %>
        <li class="has-dropdown">
          <a href="#"><%= @user.email %></a>
          <ul class="dropdown">
            <li><a href="#">Music I Like</a></li>
            <li><a href="#">Music I Vote</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <% else %>
        <form method="POST" action="/login">
          <li><div class="columns"><input type="email" name="email" value="" placeholder="Email Address" required></div></li>
          <li><div class="columns"><input type="password" name="password" value="" placeholder="Password" required></div></li>
          <li><div class="columns"><input type="submit" value="Login" class="button alert"></div></li>
          <li><div class="columns"><button href="/user/new" class="button" data-reveal-id="myModal">Signup</div></li>
        </form>
        <div id="myModal" class="reveal-modal" data-reveal>
          <h2>Signup</h2>
          <form method="POST" action="/user/new">
            <input type="email" name="email" value="" placeholder="Email Address" required>
            <input type="password" name="password" value="" placeholder="Password" required>
            <input type="submit" value="Signup" class="button alert">
          </form>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <% end %>
      </ul>
    </section>
  </nav>
  <%= yield %>
  <script src="/javascript/vendor/modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/foundation.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>